### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
#school_data_complete.count()

In [4]:
#Calculate total schools
total_schools = len(school_data["school_name"])
#total_schools

In [5]:
#calculate total students
total_students = len(school_data_complete["student_name"])
#total_students

In [6]:
#Calculate total budget
total_budget = (school_data["budget"].sum())
#total_budget

In [7]:
#Calculate average math scores
average_math = (school_data_complete["math_score"].mean())
#average_math

In [8]:
#Calculate average reading scores
average_reading = (school_data_complete["reading_score"].mean())
#average_reading

In [9]:
#Calculate percent passing math
passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70,]["math_score"].count()
percent_passing_math = passing_math / total_students
#percent_passing_math

In [10]:
#Calculate percent passing reading
passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70,]["reading_score"].count()
percent_passing_reading = passing_reading / total_students
#percent_passing_reading

In [11]:
#Calculate percent passing both math and reading
passing_both = school_data_complete.loc[
      (school_data_complete["math_score"] >= 70)
    & (school_data_complete["reading_score"] >= 70),
    ["Student ID"]
].count()[0]
percent_passing_both = passing_both / total_students
#percent_passing_both

In [12]:
#Create Dictionary of all variables set above
district_summary = {"Total Schools" : [total_schools], "Total Students" : [total_students],\
                       "Total Budget" : [total_budget], "Average Math Score" : [average_math], \
                    "Average Reading Score" : [average_reading], "% Passing Math" : [percent_passing_math],\
                      "% Passing Reading" : [percent_passing_reading], "% Passing Overall" : [percent_passing_both]}
#Create Data Frame from Dictionary
district_summary_df = pd.DataFrame(district_summary)
#district_summary_df

In [13]:
#Clean up format of Total Students
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

In [14]:
#Clean up format of Budget
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

In [15]:
#Clean up format of Percentage passing math
district_summary_df["% Passing Math"] = (district_summary_df["% Passing Math"]*100).map("{:.6f}".format)

In [16]:
#Clean up Percentage Reading
district_summary_df["% Passing Reading"] = (district_summary_df["% Passing Reading"]*100).map("{:.6f}".format)

In [17]:
#Clean up Percentage passing overall
district_summary_df["% Passing Overall"] = (district_summary_df["% Passing Overall"]*100).map("{:.6f}".format)

In [18]:
#Voila!
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [19]:
#school_data_complete.head()

In [20]:
#Create school name grouped per School
school_name = school_data_complete.set_index("school_name").groupby(["school_name"])
#school_name

In [21]:
#Create variable for school type
school_type = school_data.set_index("school_name")["type"]
#school_type

In [22]:
#Create variable for Total Students
total_students_per_school = school_name["Student ID"].count()
#total_students_per_school

In [23]:
#Create variable for school budget
school_budget = school_data.set_index("school_name")["budget"]
#school_budget

In [24]:
#Create variable for budger per student
per_student_budget = (school_data.set_index("school_name")["budget"] / school_data.set_index("school_name")["size"])
#per_student_budget

In [25]:
#Create variable for average math score per school using school name dataframe
per_school_average_math = school_name["math_score"].mean()
#per_school_average_math

In [26]:
#Create variable for average reading score per school using school name dataframe
per_school_average_reading = school_name["reading_score"].mean()
#per_school_average_reading

In [27]:
#Create variable for percent passing math per school
per_school_passing_math_percent = school_data_complete[school_data_complete[
    "math_score"] >= 70].groupby("school_name")["Student ID"].count() / total_students_per_school * 100
#per_school_passing_math_percent

In [28]:
#Create variable for percent passing math per school
per_school_passing_reading_percent = school_data_complete[school_data_complete[
    "reading_score"] >= 70].groupby("school_name")["Student ID"].count() / total_students_per_school * 100
#per_school_passing_reading_percent

In [29]:
#Create variable for overall passing per school
percent_passing_both_per_school = school_data_complete[(school_data_complete["math_score"] >= 70
                                                    )& (school_data_complete["reading_score"] >= 70)].groupby(
                                            "school_name")["Student ID"].count() / total_students_per_school * 100
#percent_passing_both_per_school

In [30]:
#Create Dictionary with all values
school_summary = {"School Type" : school_type, "Total Students" : total_students_per_school,
                "Total School Budget" : school_budget, "Per Student Budget" : per_student_budget, "Average Math Score" :
                per_school_average_math, "Average Reading Score" : per_school_average_reading, "% Passing Math" :
                per_school_passing_math_percent, "% Passing Reading" : per_school_passing_reading_percent,
                "% Passing Overall" : percent_passing_both_per_school}

In [31]:
school_summary_df = pd.DataFrame(school_summary)
#school_summary_df.head()

In [32]:
#Format Total Students, Total School Budget, Per Student Budget
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Total Students"] = school_summary_df["Total Students"].map("{:,}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)

In [33]:
#Voila!
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [38]:
# Sort and display the top five schools by passing rate 
school_summary_df.sort_values("% Passing Overall", ascending = False).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [39]:
#Sort and display the bottom five schools by passing overall
school_summary_df.sort_values("% Passing Overall", ascending = True).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type